body {
  font-family: 'Source Code Pro', Courier;
  font-size: 20px;
}

#container {
  margin: 0 auto;
  width: 75%;
}

.prettyprint {
  font-size: 15px;
  line-height: 25px;
}

.quote {
  border-left-style: solid;
  border-color: #56A5EC;
  border-width: 5px;
  padding: 20px 35px 20px 35px;
  font-style: italic;
  background: #F0F0F0;
}

#title {
  margin-top: 25px;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-color: #56A5EC;

}

#textbody {
  font-size: 18px;
  border-bottom: 3px;
  margin-bottom: 75px;
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-color: #56A5EC;
  line-height: 30px;
}

li {
margin: 5px;
}

a {
color: #48b1f1;
text-decoration: none;
}

a:hover {
text-decoration:underline;
}

a.index {
 color: black;
}
