body {
  background: #fff1e0;
  font-family: 'Karla', sans-serif;
}

.pt-serif {
  font-family: 'PT Serif', serif;
}

.img-shadow {
  box-shadow: 5px 5px 10px 0px rgba(211,211,211,1);
}

bold, strong {
  font-family: 'PT Serif', serif;
}

.off-screen {
  margin-left: -100%;
}

img {
  margin: 0;
  padding: 0;
}

.height {
  height: 100vh;
  top: 0;
  bottom: 0;
}

@media screen and (min-width: 30em) {
  .dn-ns {
    display: none;
  }
}

