body {
  font-family: 'Roboto', serif;
  background: #fff1e0;
 
}

.font {
  font-family: 'PT Serif';
}

strong {
  font-family: 'PT Serif'
}

.bg-ft {
  background: #fff1e0;
}

.off-screen {
  margin-left: -100%;
}


.font {
  font-family: 'PT Serif';
}

img {
  margin: 0;
  padding: 0;
}

.height {
  height: 100vh;
  top: 0;
  bottom: 0;
}

@media screen and (min-width: 30em) {
  .dn-ns {
    display: none;
  }
}

